<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienestar Mental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Bienestar mental</h1>
        <h2>Bienvenido</h2>
  <h2>Bienvenido a tu espacio de relajación</h2>
  <p>Selecciona una sesión de meditación o revisa tu perfil.</p>

  <ion-button expand="block" (click)="goToMeditation()">Ir a Sesiones de Meditación</ion-button>
  <ion-button expand="block" (click)="goToProfile()">Ir a Perfil</ion-button>
</ion-content>
